<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <!-- 小图标库 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>airConditioner</title>
</head>

<body>
    <!-- 引入音频文件 -->
    <audio id="audio1" src="https://yulearn.top/webDemo/music/fnAirStart.mp3" hidden></audio>
    <audio id="audio2" src="https://yulearn.top/webDemo/music/airEffect.wav"></audio>
    <div class="bigBac">
        <div class="headBac">
            <div class="headTitle">
                <h2>小空调</h2>
                <p><i style="font-size:20px; color:#0984e3;" class="fa fa-paper-plane-o"></i>Tip:带来夏日的清凉！</p>
            </div>
            <div class="air">
                <div class="airMain">
                    <!-- 温度显示区域 -->
                    <div class="num" :style="{display:display1}">
                        <div class="logo">
                            <i class="fa fa-snowflake-o" style="color: #74b9ff;" v-if="flag"></i>
                            <i class="fa fa-sun-o" style="color:#feca57 ;" v-if="!flag"></i>
                        </div>
                        <div class="tem" id="tem">
                            {{num}}°C
                        </div>

                    </div>
                    <div class="advBag">
                        <!-- 空调节能标识 -->
                        <div class="adv">
                            <div class="first">
                                <div class="firstCen">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>

                            </div>
                            <div class="second">
                                <div class="box">
                                    <img src="https://yulearn.top/webDemo/picture/table.png" style="width: 100%; height: 100%;">
                                </div>
                            </div>
                            <div class="third">
                                <div class="box1">
                                    <img src="https://yulearn.top/webDemo/picture/circle.png" style="width: 100%; height: 100%;">
                                </div>
                            </div>
                            <div class="finally">
                                <div class="finallyCen">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- 空调下部标志区域、出风口和指示灯区域 -->
                    <div class="wire">
                        <div class="icon">
                            <i class="fa fa-leaf" style="font-size:15px;color:#dfe6e9"></i>
                        </div>
                        <div class="line"></div>
                        <div class="circle1" v-if="!color"></div>
                        <div class="circle" v-if="color"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部按钮区域 -->
        <div class="bottomBac">
            <!-- 横向按钮区域 -->
            <div class="bottomHead">
                <div class="crossBox">
                    <button type="button" class="btn btn-outline-primary" @click="cold"><i
                            class="fa fa-snowflake-o"></i></button>
                    <!-- 暂停按钮 -->
                    <button type="button" class="btn btn-outline-danger" v-if="!show" @click="stopmp3"><i
                            class="fa fa-power-off"></i></button>
                    <button type="button" class="btn btn-outline-success" v-if="show" @click="playmp3"><i
                            class="fa fa-power-off"></i></button>
                    <button type="button" class="btn btn-outline-warning" @click="hot"> <i
                            class="fa fa-sun-o"></i></button>
                </div>
            </div>

            <!-- 纵向按钮区域 -->
            <div class="bottomTail">
                <div class="lengBox">
                    <button type="button" class="btn btn-light" @click="add"> <i class="fa fa-sort-asc"></i></button>
                    <button type="button" class="btn btn-light" @click="reduce"><i class="fa fa-sort-down"></i></button>
                </div>
            </div>
            <!-- 温度超出范围弹窗 -->

        </div>
        <div class="alertBag">
            <div class="aler" :style="{display:display}">
                <div class="frIcon">
                    <div class="b1">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                    <div class="b2">
                        <p>超出最{{A}}温度了哦</p>
                    </div>
                </div>
                <div class="baIcon">
                    <i class="fa fa-times" @click="close"></i>
                </div>

            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '.bigBac',
            data() {
                return {
                    num: 20,
                    display: "none",
                    display1: "none",
                    flag: true,
                    A: "",
                    show: true,
                    color: false,

                }
            },
            methods: {
                /* 播放和暂停按钮 */

                playmp3: function () {
                    /*  var audio_file = new Audio('./soundSrc/airEffect.wav'); */
                    var audio_file = document.getElementById('audio2')
                    audio_file.play();
                    audio_file.addEventListener('timeupdate', function () {
                        var buffer = 3;
                        if (this.currentTime > this.duration - buffer) {
                            this.currentTime = 0;
                            this.play();
                        }
                    }, false);

                    this.show = false
                    document.getElementById('audio1').play()
                    this.display1 = "block"
                    this.color = true

                },
                stopmp3: function () {
                    /*   var audio_file = new Audio('./soundSrc/airEffect.wav'); */
                    var audio_file = document.getElementById('audio2')
                    audio_file.pause();
                    this.show = true
                    document.getElementById('audio1').play()
                    this.display1 = "none"
                    this.color = false
                },
                /* 改变温度函数 */
                add: function () {

                    if (this.num >= 32) {
                        document.getElementById('audio1').play()
                        this.display = "block"
                        this.A = "高"

                    } else {
                        this.num += 1
                        document.getElementById('audio1').play()
                    }

                },
                reduce: function () {
                    if (this.num <= 16) {
                        document.getElementById('audio1').play()
                        this.display = "block"
                        this.A = "低"
                    } else {
                        this.num -= 1
                        document.getElementById('audio1').play()
                    }

                },
                /* 关闭弹窗函数 */
                close: function () {
                    this.display = "none"
                },
                /* 制冷制热切换函数 */
                cold: function () {
                    document.getElementById('audio1').play()
                    this.flag = true
                },
                hot: function () {
                    document.getElementById('audio1').play()
                    this.flag = false
                },
            }
        });
    </script>
</body>

</html>